//Variables
$tablet: 768px;
$desktop: 992px;
$color: white;
$border: 2px solid black;
$remByDefault: 1rem;
$sizes: (
  ancho: 100%,
);
$iframeMovil: (
  altura: red,
  rem: remByDefault,
);
$iframeDesktop: (
  ancho: 90%,
  altura: 30rem,
);