//---------Estudio---------//

/*Variables*/
$tablet: 768px;
$desktop: 1024px;

/*----MAP-GET----*/
$iframeMovil: (
  altura: red,
  rem: 1rem,
);
$iframeDesktop: (
  ancho: 90%,
  altura: 30rem,
);

/*----Mixin----*/
@mixin contenido {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  align-content: flex-start; 
}

.section__contenido--flex {
  @include contenido;
  margin-top: 2rem;
  .section__texto {
    padding: 4rem 2rem 0rem 2rem;
    font-size: 0.95rem;

    /*-----EXTEND-----*/
    &--primero {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 0.95rem;
    }
    &--segundo {
      @extend .section__texto--primero;
      font-weight: bold;
    }
    &--tercero {
      @extend .section__texto--segundo;
      font-family: "Roboto", sans-serif;
      font-weight: lighter;
    }
  }
  /*----MAP-GET----*/
  .section__video {
    width: 80%;
    iframe {
      height: map-get($iframeMovil, altura);
      padding: map-get($iframeMovil, rem);
    }
  }
}

/*---------Tablet-------------*/
@media (min-width: $tablet) {
  .section__texto {
    font-size: 1rem;
  }
}

//---------Escritorio-------------*/
@media screen and (min-width: $desktop) {
  .section__contenido--flex {
    @include contenido;
    flex-direction: row;
    justify-content: flex-end;
    align-content: space-between;
    .section__texto {
      font-size: 1.2rem;
      flex: 71%;
    }
    /*----MAP-GET----*/
    .section__video {
      flex: 53%;
      padding-top: 6rem;
      iframe {
        width: map-get($iframeDesktop, ancho);
        height: map-get($iframeDesktop, altura);
      }
    }
  }
}
